# Database secrets
DATABASE='skinsoko_db'
DATABASE_USERNAME='user123'
PASSWORD='p@ssw0rd2024'
HOST='127.0.0.1'
PORT='5432'

# Pesapal secrets
PESAPAL_CONSUMER_KEY='A1b2C3d4E5f6G7h8I9j0K1l2M3n4O5P6'
PESAPAL_CONSUMER_SECRET='QwErTyUiOpAsDfGhJkLzXcVbNm123456'
PESAPAL_IPN_ID='12345678-abcd-1234-efgh-567890abcdef'

# Selcom secrets
SELCOM_API_KEY='TILL12345678-abcdef1234567890abcdef123456'
SELCOM_API_SECRET='123456-abcdef-789012-ghijkl-345678-mn'
SELCOM_BASE_URL='https://api.selcom.example.com'
SELCOM_VENDOR_ID='TILL12345678'

# SMTP secrets
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.example.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER="user@example.com"
EMAIL_HOST_PASSWORD="random password here"